{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <!-- Style sheet Link -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="header-page">
        <div style="float: left;">
            <img src="{% static 'images/fb logo.jpg' %}" alt="" style="width: 300px; height: 80px;">
        </div>
    </div>
    
    <div class="cover-page">
        <div>
            <img src="{% static 'images/avathar.jfif' %}" alt="" class="avatar">
            <h3><b>JOHN JOY</b></h3>
            
        </div><hr>
    </div>

    <div class="nav" >
        
            <a href="#"> Timeline</a>
            <a href="#">About</a>
            <a href="">Friends</a>
            <a href="">Photos</a>
            <a href="">Videos</a>
            <a href="">More</a>
        
    </div><hr />
        
    <!-- <div class="body-page">
        <div class="info" style="width: 600px;height: 350px;background-color: white;margin-left: 20px;border-radius: 8px;">
            <div style="top: 150px;"><h4 style="text-align: center;">Info</h4></div>
        </div>
        
    </div>        -->
            
            
            
        
        
  
</body>
</html>