<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>facebook</title>
</head>
<body>
    <table width="100%" cellspacing="0px">
        <tr style="background-color: rgb(5, 16, 172);" >
            <th style="float: left;"><img src="https://raw.githubusercontent.com/cybersquare/fb_webpage/master/images/fb_logo.jpg" width="250px" height="100px"></th>
            <th><input type="text" size="50">
            <input type="text" size="50"> <input type="submit" value="LOGIN"></th>
        </tr>

        <tr>
        <td  align="center">
            <table style="width: 80%;" cellspacing="5px"  border="0">
               <tr>
                  <td> <h2 align="center">Connect with friends and the world around you on facebook</h2></td>
               </tr><br />
               <tr><td>
                   <img src="https://raw.githubusercontent.com/cybersquare/fb_webpage/master/images/phtots_icon.png" width="50px" height="50px">&nbsp;&nbsp;See photos and updates in News Feed.<br />
                   <img src="https://raw.githubusercontent.com/cybersquare/fb_webpage/master/images/share_timeline.png" width="50px" height="50px">&nbsp;&nbsp;Share What's new in your life on your Timeline<br />
                   <img src="https://raw.githubusercontent.com/cybersquare/fb_webpage/master/images/graph_triangle.png" width="50px" height="50px">&nbsp;&nbsp;Find more of what you're looking for with graph search
             </td></tr>
            </table> 
        </td>
        

        <td>
            <table valign="top" align="center">
                <tr><th><h2>SIGNUP</h2></tr></th>
                <tr>
                    <td colspan="2">
                        <input type="text" placeholder="first name">
                        <input type="text" placeholder="last name" ><br /><br />
                        <input type="number" placeholder="Mobile nUmber" ><br /><br />
                        <input type="email" placeholder="Email" colspan="2"><br /><br />
                        <input type="password" placeholder="password"><br /><br />
                    </td>
                </tr>
                <tr>
                    <td>
                    By clicking signup, you agree to our terms and that you have read our data use policy, including our cookies use
                </td>
                </tr>
                <tr>
                    <td ><img src="/static/sign.jpg" width="80px" height="30px"></td>
                </tr>
            
            
            </table>
        </td>
        </tr>



    </table>
</body>
</html>