<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>USER LOGIN</h1>
    <from action='' name=form1>
        <label>USER ID</label>
        <input type="text"><br /><br />
        <label>PASSWORD</label>
        <input type="password">
    </from>

    <a href="{% url 'cloneapp:data1' %}">clickme</a><br /><br />
    <img src="/static/2.jpg">


</body>
</html>